@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-red: #c20202;
  --color-yellow: #fff200;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-50: #fbfbfc;
  --color-gray-100: #f6f7f8;
  --color-gray-200: #eff1f2;
  --color-gray-300: #dfe3e5;
  --color-gray-400: #cfd4d8;
  --color-gray-500: #bfc6cb;
  --color-gray-600: #868e92;
  --color-gray-700: #646a6e;
  --color-gray-800: #3f4443;
  --color-gray-900: #212325;

  --font-display: "Poppins", "sans-serif";
}

@layer components {
  /* Nav */
  .menu-item {
    @apply relative flex items-center justify-center h-12 w-24
   bg-black text-gray-50 text-lg font-normal
   hover:text-yellow hover:text-xl hover:font-semibold
    transition-all duration-150 ease-linear
    cursor-pointer;
  }
  .active {
    @apply text-yellow text-xl font-semibold;
  }
  .social-icon {
    @apply flex items-center
    pr-3;
  }

  /* Text Blocks */
  .p-heading {
    @apply text-2xl md:text-5xl font-bold text-gray-800 mb-4 tracking-tight;
  }
  .p-body {
    @apply text-xl md:text-xl text-gray-600 max-w-fit mx-auto mb-8;
  }
  .p-link {
    @apply text-red underline;
  }
}
