---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <!-- Page Container -->
  <div class="w-auto mx-8 sm:w-auto sm:mx-16 md:w-3/4 md:mx-20 lg:w-3xl">
    <!-- Coach Header -->
    <div class="flex mt-4 mb-2 mx-0 md:mt-6 md:mb-4 md:mx-10">
      <div class="flex grow">
        <div class="flex-col w-full mr-0">
          <div class="flex-none">&nbsp;</div>
          <div class="grow h-1 bg-red"></div>
          <div class="flex-none">&nbsp;</div>
        </div>
      </div>
      <div
        class="align-middle font-extrabold font-[Orbitron] w-fit text-4xl text-red sm:text-5xl md:text-5xl"
      >
        13U JONES
      </div>
      <div class="flex grow">
        <div class="flex-col w-full ml-0">
          <div class="flex-none">&nbsp;</div>
          <div class="grow h-1 bg-red"></div>
          <div class="flex-none">&nbsp;</div>
        </div>
      </div>
    </div>
    <!-- Team Detail -->
    <div>
      <h1>TEAM OVERVIEW</h1>
      <div>
        Firecrackers OH - 13U Jones has delivered a standout season with a 44-8
        tournament record, claiming championship titles at the Boneyard Bash,
        Ghouls and Girls Halloween Showdown, Thaw Your Bats, Madison Select
        Classic, and Bellefontaine Bomber. The team also earned a runner-up
        finish at the Battle for the Belt and has qualified for the prestigious
        USSSA National Championship in Destin, Florida. Committed to facing
        top-tier competition, the team continues to grow through discipline,
        preparation, and a desire to play the game the right way.
      </div>
      <h1 class="mt-8">COACHING STAFF</h1>
      <h2>Phil Jones - Head Coach</h2>
      <div class="ml-4">
        With 8 years of coaching experience and in his third season leading a
        travel team, Coach Jones emphasizes mental toughness, softball IQ, and
        team culture. His calm, focused leadership fosters personal growth,
        accountability, and selfless play.
      </div>
      <h2>Doug Gray - Associate Head Coach</h2>
      <div class="ml-4">
        Now in his fourth season of travel softball, Coach Gray brings five
        years of coaching experience, specializing in pitching and defensive
        strategy. His structured and technical approach enhances in-game
        execution and consistency.
      </div>
      <h2>Michael Marshack - Assistant Coach</h2>
      <div class="ml-4">
        In his second season with the team, Coach Marshack focuses on individual
        development and communication, using mentorship and positive
        reinforcement to support each athlete's growth.
      </div>
      <h2>Chad Howard - Assistant Coach</h2>
      <div class="ml-4">
        Also entering year two with the team, Coach Howard leads instruction in
        baserunning and catching, emphasizing efficiency, effort, and
        situational awareness.
      </div>
      <h2>Kyle Rhoad - Assistant Coach</h2>
      <div class="ml-4">
        A former Division I player at Eastern Michigan and minor leaguer with
        the Texas Rangers, Coach Rhoad brings elite-level insight. He focuses on
        hitting, baserunning, and outfield play, drawing from four years of
        coaching experience and a professional playing background.
      </div>
      <h2>Dani Ramos - Assistant Coach</h2>
      <div class="ml-4">
        A former First Team All-MAC standout at Kent State University, Coach
        Ramos brings over six years of coaching experience. As a certified
        hitting instructor and former head coach at Worthington Christian and
        the Ohio All-Americans, she combines high-level playing experience with
        a proven ability to build confidence and elevate performance at the
        plate.
      </div>
      <!-- Vision and Philosophy -->
      <h1 class="mt-8">PROGRAM VISION AND PHILOSOPHY</h1>
      <div class="mb-20">
        The Firecrackers OH - 13U Jones coaching staff is committed to building
        well-rounded athletes through hard work, accountability, and a
        team-first mentality. With a focus on skill development, game
        intelligence, and a strong family culture, the program prepares players
        to compete at a high level-on and off the
      </div>
    </div>
  </div>
</Layout>

<style></style>
