---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import CoachTitle from "../../components/teams/CoachTitle.astro";

const team = await getEntry("teams", "nieman");
if (!team) {
  throw new Error("Could not find team Nieman");
}
---

<Layout>
  <div
    class="mx-8 min-h-screen w-auto sm:mx-16 sm:w-auto md:mx-20 md:w-3/4 lg:w-3xl"
  >
    <CoachTitle teamName={team.data.title} />

    <h1 class="mt-8">TEAM OVERVIEW</h1>
    <div>
      Firecrackers OH – 11U Nieman continues building upon fundamental skills
      while introducing more advanced concepts and competitive play. The team
      focuses on skill refinement, strategic understanding, and developing
      players' confidence in competitive situations. With an emphasis on growth
      and teamwork, the program prepares athletes for higher levels of
      competition while maintaining a positive and supportive environment.
    </div>

    <h1 class="mt-8">COACHING STAFF</h1>
    {
      team.data.staff.map(coach => (
        <>
          <h2>{coach.name}</h2>
          <div class="ml-4">
            {coach.bio.map(paragraph => (
              <div>{paragraph}</div>
            ))}
          </div>
        </>
      ))
    }
    <h1 class="mt-8">TRAINING STRUCTURE</h1>
    <div>
      Matt and his staff focus on skill development and competitive preparation
      appropriate for 11U athletes. They emphasize fundamental refinement,
      strategic thinking, and building confidence, supported by a structured
      training schedule that balances development with competitive play.
      Firecrackers OH 11U Team trains and plays year-round:
    </div>
    <ul class="list-inside list-disc">
      <li>
        Fall season includes 2 team practices focused on advanced fundamentals
        and team concepts, with 3-4 scheduled tournaments emphasizing skill
        application and competitive growth.
      </li>
      <li>
        Winter season with weekly practices focused on technique refinement and
        strategic development, with 1-2 indoor tournaments, and appropriate
        breaks for school commitments.
      </li>
      <li>
        Spring/Summer Season beginning in May includes 2 practices per week plus
        targeted skill work, with 8-10 tournaments focused on competitive
        development and team growth.
      </li>
    </ul>

    <h1 class="mt-8">PROGRAM VISION AND PHILOSOPHY</h1>
    <div class="mb-20">
      The Firecrackers OH - 11U Nieman coaching staff is committed to developing
      skilled and confident athletes through progressive coaching, fundamental
      excellence, and competitive preparation. With a focus on skill refinement,
      strategic thinking, and character building, the program prepares players
      for advanced competition while fostering teamwork and sportsmanship.
    </div>
  </div>
</Layout>
