---
const { teamName } = Astro.props;
---

<div class="mx-0 mt-4 mb-2 flex md:mx-10 md:mt-6 md:mb-4">
  <div class="flex grow">
    <div class="mr-0 w-full flex-col">
      <div class="flex-none">&nbsp;</div>
      <div class="bg-red h-1 grow"></div>
      <div class="flex-none">&nbsp;</div>
    </div>
  </div>
  <div
    class="text-red w-fit align-middle font-[Orbitron] text-4xl font-extrabold sm:text-5xl md:text-5xl"
  >
    {teamName}
  </div>
  <div class="flex grow">
    <div class="ml-0 w-full flex-col">
      <div class="flex-none">&nbsp;</div>
      <div class="bg-red h-1 grow"></div>
      <div class="flex-none">&nbsp;</div>
    </div>
  </div>
</div>
