---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="font-poppins min-h-screen flex items-center justify-center">
		<div class="text-center">
			<h1 class="text-6xl md:text-8xl font-bold text-gray-800 mb-4 tracking-tight">
				Coming Soon!
			</h1>
			<p class="text-xl md:text-2xl text-gray-600 max-w-md mx-auto mb-8">
				We're working on something amazing. Stay tuned!
			</p>
			<img src="cracker-dude-ohio.svg" alt="Cracker Dude Ohio" class="h-36 mx-auto dark:hidden">
			<img src="cracker-dude-ohio-dark.svg" alt="Cracker Dude Ohio" class="h-36 mx-auto hidden dark:block">
		</div>
	</div>
</Layout>
