<footer
  class="border-red sticky border-t-2 bg-gray-400 py-8 text-gray-900 dark:bg-gray-800 dark:text-gray-200"
>
  <div class="flex justify-center">
    <img src="/ohio-logo.svg" alt="Firecrackers Ohio Logo" class="h-16" />
  </div>
</footer>
